* {
    margin: 0;
    padding: 0;
}

ul {
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    width: 100%;
}

li {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    list-style: none;
    padding: 10px;
}

li:hover {
    background-color: #666;
}

li.active {
    background-color: rgb(2, 116, 2);
    color: white;
}

li.left {
    float: left;
}

li.right {
    float: right;
}

/* float.html example styles */

.nav {
    background-color: black;
    color: white;
    height: 100px;
    position: fixed;
    width: 100%;
}

.sidebar {
    background-color: antiquewhite;
    display: inline-block;
    height: 100vh;
    width: 20%;
}

.main-content {
    background-color: aquamarine;
    display: inline-block;
    height: 100vh;
    width: 59%;
}

.aside {
    background-color: antiquewhite;
    display: inline-block;
    height: 100vh;
    width: 20%;
}

.footer {
    background-color: black;
    color: white;
    height: 100px;
}