<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Please input your information</h1>
    <form action="/contact-me" method="post">
        <label for="firstName">First Name:</label>
        <input required type="text" name="firstName" id="firstName">
        
        <label for="lastName">Last Name: </label>
        <input required type="text" name="lastName" id="lastName">
        
        <label for="emailAddress">Email:</label>
        <input required type="email" name="emailAddress" id="emailAddress">
        
        <label for="location">Location:</label>
        <input type="text" name="location" id="location">
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>