<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first EJS file</title>
</head>
<body>
    <h1>Hello World!</h1>
    <h2>Test EJS</h2>
    <p>a: <%=a%></p>
    <p>b: <%=b%></p>

    <form action="/output" method="post">
        <label for="a">
            <input type="text" name="a">
        </label>
        <label for="b">
            <input type="text" name="b">
        </label>
        <button>Submit</button>
    </form>
</body>
</html>