<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you <%=firstName%></title>
</head>
<body>
    <h1>Thank you <%=firstName%> <%=lastName%>, we have sent you an email to <%=emailAddress%></h1>
    <a href="./contact-me">Go Back</a>
</body>
</html>