* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1cd2a2;
}

.loader {
    height: 4em;
    width: 4em;
    background-color: #000;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: spin1 3s infinite;
}

@keyframes spin1 {
    100% {
        transform: scale(15, 1);
    }
}


